{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'theme.css'%}" type="text/css">
</head>

<body class="bg-secondary">
  <div class ="container">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
    </div>      
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <a class="navbar-brand" href="0, Homepage.html">
      <i class="fa d-inline fa-lg fa-cloud"></i>
      <b> SION</b>
    </a>
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <a class="btn navbar-btn ml-2 text-white btn-secondary">
      <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in/Register</a>
  </nav>
  <div class="py-5 text-center filter-dark" style="background-image: url('Charity.jpg');background-position:left top;background-size:cover;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-light text-left">
            <b>Pendaftaran Sebagai Donatur</b>
          </h1>
          <p class="lead mb-5 text-left">Belum mempunyai akun? Daftarlah bersama kami di SION.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <form action="{% url 'register:konfirmasi' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label>Nama</label>
              <input type="text" name = "nama" class="form-control" placeholder="Nama" required> </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" name = "email" class="form-control" placeholder="Email" required> </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name = "password" class="form-control" placeholder="Password" required> </div>
            <div class="form-group">
              <label>Kecamatan</label>
              <input type="text" name = "kecamatan" class="form-control" placeholder="Kecamatan" required> </div>
            <div class="form-group">
              <label>Kabupaten</label>
              <input type="text" name = "kabupaten" class="form-control" placeholder="Kabupaten" required> </div>
            <div class="form-group">
              <label>Provinsi</label>
              <input type="text" name "propinsi" class="form-control" placeholder="Provinsi" required> </div>
            <div class="form-group">
              <label>Kode Pos</label>
              <input type="text" name = "kode_pos" class="form-control" placeholder="Kode Pos" required> </div>
            <div class="form-group">
              <label>Jalan/Desa/Kelurahan/No.Rumah</label>
              <input type="text" name = "jalan" class="form-control" placeholder="Kode Pos
Jalan/Desa/Kelurahan/No.Rumah" required> </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>