{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'theme.css'%}" type="text/css">
</head>

<body class="bg-secondary">
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <a class="navbar-brand" href="#">
      <i class="fa d-inline fa-lg fa-cloud"></i>
      <b> SION</b>
    </a>
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Organisasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kegiatan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Donasi</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <a class="btn navbar-btn ml-2 text-white btn-secondary">
      <i class="fa d-inline fa-lg fa-user-circle-o"></i> Halo, {{ namaOrganisasi }}</a>
  </nav>
  <div class="py-5 text-white bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="https://pingendo.github.io/templates/sections/assets/gallery_restaurant_1.jpg" atl="first slide" class="d-block img-fluid w-100">
          <p class="lead">Ini adalah contoh sedikit Bio dari organisasi {{ namaOrganisasi }}.</p>
        </div>
        <div class="col-md-6">
          <h1 class="" contenteditable="true">Organisasi {{ namaOrganisasi }}</h1>
          <div class="col-md-6">
            <ul class="">
              <li>
                <b>Website</b>
                <br>&nbsp; &nbsp; &nbsp; &nbsp;{{ website }}</li>
              <li>
                <b>Email</b>
                <br>&nbsp; &nbsp; &nbsp; &nbsp;{{ email }}</li>
              <li>
                <b>Alamat</b>
                <br>&nbsp; &nbsp; &nbsp; &nbsp;Kota {{ kota }}, kabupaten {{ kabupaten }}, propinsi {{ propinsi }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;, Kode pos {{ kodePos }}</li>
              <li>
                <b>Pengurus</b>
                <br>&nbsp; &nbsp; &nbsp; &nbsp;M. Qimpul</li>
              <li>Email Pengurus
                <br>&nbsp; &nbsp; &nbsp; &nbsp;Qimpul@qimpul.com</li>
              <li>
                <b>Alamat Pengurus</b>
                <br>&nbsp; &nbsp; &nbsp; &nbsp;085 Ancol Alley, Barel &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;15314</li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Daftar Pengurus</h5>
                  <small></small>
                </div>
                <p class="mb-1">Anas Asin N.</p>
                <p class="mb-1">M. Qimpul</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-info">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Daftar Sponsor</h5>
                  <small class="text-muted"></small>
                </div>
                <p class="mb-1">Ancol City Ltd.</p>
                <small class="text-muted"></small>
              </a>
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Daftar Donatur</h5>
                </div>
                <p class="mb-1">Joy Lobo</p>
              </a>
            </div>
            <p class="">
              <b>Total Donasi: Rp1.500.000,-</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>